In [107]:
import pandas as pd
titanic = pd.read_csv('/Users/soyoung/git/playdata/titanic/train.csv')

In [108]:
titanic.shape

(891, 12)

In [109]:
titanic.isnull().sum()
# cabin = 결측치가 너무 많다.
titanic = titanic.drop("Cabin",axis=1)    # axis = 0은 가로, 1은 세로
# titanic.drop('Cabin',axis=1,inplace=True) #inplace를 이용하여 원래 데이터에서 cabin을 제거.
# age 결측치가 많아 다른 값으로 대체
age_median = titanic['Age'].median() # median:중앙값 , mode:최빈값, mean: 평균값
titanic["Age"].fillna(age_median,inplace=True) 
# 결측치 drop
titanic.dropna(axis=0,inplace=True)

In [117]:
titanic_train = pd.read_csv('/Users/soyoung/git/playdata/titanic/train.csv')
titanic_test = pd.read_csv('/Users/soyoung/git/playdata/titanic/test.csv')
print(titanic_test.shape)
print(titanic_train.shape)

(418, 11)
(891, 12)

In [79]:
house = pd.read_csv('/Users/soyoung/git/playdata/titanic/house_price.csv')
house.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    295
dtype: int64

In [80]:
house1 = house.drop('분양가격(㎡)',axis = 1)
house1

     지역명               규모구분    연도   월
0     서울                 전체  2015  10
1     서울         전용면적 60㎡이하  2015  10
2     서울   전용면적 60㎡초과 85㎡이하  2015  10
3     서울  전용면적 85㎡초과 102㎡이하  2015  10
4     서울        전용면적 102㎡초과  2015  10
...   ..                ...   ...  ..
4500  제주                 전체  2020   2
4501  제주         전용면적 60㎡이하  2020   2
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2
4504  제주        전용면적 102㎡초과  2020   2

[4505 rows x 4 columns]

In [81]:
house2 = house.dropna(axis=0)
house2

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4498  경남  전용면적 85㎡초과 102㎡이하  2020   2    3247
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4504  제주        전용면적 102㎡초과  2020   2    3601

[4210 rows x 5 columns]

In [95]:
house_price = house['분양가격(㎡)'].mode()
house_price.values[0]

'2221'

In [96]:
house['분양가격(㎡)'].fillna(house_price.values[0],inplace=True)
house.isna().sum()

지역명        0
규모구분       0
연도         0
월          0
분양가격(㎡)    0
dtype: int64